/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
	box-sizing: border-box;}

*, *::before, *::after {
	box-sizing: inherit;
}

html,body {
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
}

body {
  font-size: $base-font-size; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: $normal;
  font-family: $font, Arial, sans-serif;
  color: rgba($black, .84);
		background:white;}