// Sections

section {
	padding-top: 8rem;
	padding-bottom: 8rem;
	&:nth-of-type(2n) {
	background: grey(lightest);
	}
	.title {
		text-align:center;
		color: $primary; 
		text-transform: uppercase;
		letter-spacing: .2em;
		padding-bottom: 4rem;
		font-weight: $bold;
	}
}