.colors
	.row
		.columns.twelve
			h6.title Colors
	.row
		.columns.twleve
			.colors__row
				each color in ['darkprimary', 'primary', 'black', 'lightestgrey', 'lightgrey', 'normalgrey', 'darkgrey', 'darkestgrey', 'secondaryblue', 'secondaryred', 'secondaryyellow']
					.colors__item
						span.colors__title= "$" + color
						.colors__box(class="u-bg--" + color)