.docs-typography
	.row
		.columns.twelve
			h6.title Typography
	.row
		.columns.three
			.docs-typography__title
				h1 Lato
				h6 Font Family
		.columns.two
			.docs-typography__example Aa
		.columns.seven
			.docs-typography__glyphs ABCDEFGHIJKLMNOPQRSTUVWXYZ
				br
				| abcdefghijklmnopqrstuvwxyz
				br
				| 1234567890!@#$%^&*()+/-