extends _layouts/main

block head_end
	link(rel="stylesheet" href="./css/styles.min.css")
	link(rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png")
	link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png")
	link(rel="mask-icon" href="images/disputelab_favicon_152x152.svg" color="#3870c4")
	link(rel="shortcut icon" href="images/favicon.ico")


block content
	include _partials/hero
	include _partials/intro
	include _partials/docs